* {
    background-color: rgb(255, 230, 0);
    color: #222222;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    font-style: oblique;  
}